@model IEnumerable<P50_4_22.Models.CatalogProduct>

@{
	ViewBag.Title = "Добавление товаров";
}

<a asp-action="Create">Добавить товар</a>
<table class="table">
	@foreach(var item in Model)
	{
		<tr>
			<td class="text">
				@item.ProductName
			</td>
			<td>
				<a asp-action="Details" asp-controller="Home" asp-route-id="@item.IdCatalogproducts">Подробнее</a>
				<a asp-action="Edit" asp-controller="Home" asp-route-id="@item.IdCatalogproducts">Изменить</a>
				<a asp-action="Delete" asp-controller="Home" asp-route-id="@item.IdCatalogproducts">Удалить</a>
			</td>
		</tr>
	}
</table>