@{
    ViewData["Title"] = "Зоомагазин Лапы и хвост";
}

<div class="text-center">
    <h1 class="text">Магазин Лапы и хвост</h1>
    <h1 class="text">Крупнейшая сеть зоомагазинов по всему миру, кроме КНДР</h1>
    <img style="background-color:#21201F" src="~/lib/images/котик.png" />

</div>
