html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #21201F;
}


header {
    background-color: #474747;
    padding: 10px;
}

footer {
    background-color: #474747;
    padding: 20px;

    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

nav {
    background: #474747;
    padding: 20px;
}

navbar {
    background: #474747;
    padding: 20px;
}

.logo{
    width: 100px;
    height: 120px;
    border-radius: 100%;
}

.text{
    color: white;
}
.btn {
    background-color: #4CAF50; 
    border: none; 
    color: white; 
    padding: 15px 32px;
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    margin: 4px 2px; 
    cursor: pointer; 
    border-radius: 5px;
}

